.lang-switch-container {
  margin-bottom: 20px;
}

.project-links a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #030303;
  border-radius: 5px;
}

.svg-block {
  height: 180px;
  position: relative;
}
.project svg {
  position: absolute;
  right: 80px;
  height: 180px;
  width: 180px;
  fill: #229597;
  transform-origin: center;
  animation: rotateAnimation 5s infinite linear;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 768px) {
  .project svg {
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 540px) {
  .project svg {
    height: 120px;
    width: 120px;
    right: calc(50% - 60px);
  }
  .svg-block {
    height: 140px;
  }
}
